# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
venv/
ENV/
env/
pip-log.txt

# Editor & OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db
.settings/
*.swp
*.swo

# Misc
*.log
coverage/
*.cover
*.bak
*.tmp
*.orig